<template>
  <require from="../resources/elements/review-list"></require>

  <div class="ui stackable two column grid">
    <div class="column">
      <form submit.trigger="makeReview()" class="ui form stacked segment">
        <h3 class='ui dividing header'> Write a Review </h3>
        <div class="grouped inline fields">
          <div class="field">
            <label>Review</label>
            <textarea placeholder="Review the island....." rows="7" value.bind="review"></textarea>
          </div>
        </div>
        <button class="ui blue submit button">Submit Review</button>
      </form>
    </div>
    <div class="column">
      <review-list reviews.bind="reviews"></review-list>
    </div>
  </div>
</template>
